/* reset style */

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* page style */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: black;  
    padding: 30px 0;
    border-bottom: 1px solid #FFFFFF;
}   
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.nav{
    display: flex;
    gap: 40px;
    color: #F7ECE1;
    align-items: center;
}
.timage{
    padding: 20px;
}


.link{
    color: white;
    text-decoration: none;
    gap: 15px;
}

.navigation{
    display: flex;
    gap: 40px;
}
.svg{}
.link:hover{
    text-decoration: underline;
}
.main{
}
.background{
    background: black;
}
.hero{
    color: white; 
    padding: 200px 0px 0px 0px; 
}
.hero{
    margin-bottom: 342px;
}
.button_text1{
    background-color: #8D86C9;
    color: white;
    width: 315px;
    height: 151px;
    left: 312px;
    top: 849px;
}
.button_text1:hover{
    background-color: #47436b;
}
.button_text{
    display: flex;
    gap: 12px;
}
.images2{
    display: flex;
    gap: 40px;
}

.picture{
    border: 1px solid #F7ECE1;
    padding: 10px;
    margin: 175px 0px;
}

.picture2{
    display: flex;
}

.images{
    border: 1px solid #F7ECE1;
    padding: 0px 15px;
}
.text{
    margin-bottom: 75px;

}
.text2{
    text-align: center;
}
.list{
    display: flex;
    gap: 40px;
}
.h4{
    margin: 25px 0px 15px 0px;
}
